<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scara">

    <xacro:property name="PI" value="3.14159265359"/>

    <ros2_control type="system" name="RobotSystem">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="joint1">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint2">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="slider_actuator">
            <command_interface name="position">
                <param name="min">0.0</param>
                <param name="max">0.1</param>
            </command_interface>
            <state_interface name="position"/>
            <param name="initial_position">0.0</param>
<!--            <state_interface name="velocity"/>-->
        </joint>
    </ros2_control>

</robot>